# OS
# ===========
.DS_Store
ehthumbs.db
Icon?
Thumbs.db

# Node and related ecosystem
# ==========================
.nodemonignore
.sass-cache/

# public library stuff
# ===========================
node_modules/
public/lib/angular
public/lib/angular-animate
public/lib/angular-sanitize
public/lib/angular-file-upload
public/lib/angular-bootstrap
public/lib/angular-messages
public/lib/angular-mocks
public/lib/angular-resource
public/lib/angular-ui-router
public/lib/angular-ui-utils
public/lib/es5-shim
public/lib/jquery
public/lib/owasp-password-strength-test

# Bootstrap
# ============================
public/lib/bootstrap/dist/fonts
public/lib/bootstrap/dist/js
public/lib/bootstrap/fonts
public/lib/bootstrap/grunt
public/lib/bootstrap/js
public/lib/bootstrap/less
public/lib/bootstrap/nuget
public/lib/bootstrap/.bower.json
public/lib/bootstrap/bower.json
public/lib/bootstrap/Gemfile
public/lib/bootstrap/Gemfile.lock
public/lib/bootstrap/Gruntfile.js
public/lib/bootstrap/ISSUE_TEMPLATE.md
public/lib/bootstrap/LICENSE
public/lib/bootstrap/package.js
public/lib/bootstrap/package.json
public/lib/bootstrap/README.md

.bluemix/
app/tests/coverage/
CHANGELOG.md
CONTRIBUTING.md
.bower-*/
.idea/
coverage/

# MEAN.js app and assets
# ======================
uploads
modules/users/client/img/profile/uploads
config/env/local.js
*.pem

# Ignoring MEAN.JS's gh-pages branch for documenation
_site/

# General
# =======
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.tmp
*.bak
*.swp
logs/
build/

# Sublime editor
# ==============
.sublime-project
*.sublime-project
*.sublime-workspace

# Eclipse project files
# =====================
.project
.settings/
.*.md.html
.metadata
*~.nib
local.properties

# IntelliJ
# ========
*.iml

# Cloud9 IDE
# =========
.c9/
data/
mongod

# Visual Studio
# =========
*.suo
*.ntvs*
*.njsproj
*.sln
