<div class='modal-header'>
    <h3 class='modal-title' id='modal-title'>Friends</h3>
</div>
<div class='modal-body list-group' id='modal-body'>
    <div ng-repeat='friend in friends' class='list-group-item'>
        <img class='friend-user-profile-picture' ng-src='{{ friend.friend.profileImageURL }}' alt='{{ friend.friend.displayName }}'>
        <h4 class='list-group-item-heading' ng-bind='friend.friend.displayName'></h4>
        <small class='list-group-item-text' ng-bind='friend.friend.username'></small>
        <p class='list-group-item-text' ng-bind='friend.friend.email'></p>
        <input ng-click='toggleClicked(friend.friend, friend.checked)' ng-model='friend.checked'
                ng-checked='friend.checked' class='pull-right' type='checkbox'>
        </div>
</div>
<div class='modal-footer'>
    <button class='btn btn-primary' type='button' ng-click='ok()'>Share</button>
    <button class='btn btn-warning' type='button' ng-click='cancel()'>Cancel</button>
</div>
