<section ng-init="setBodyImage()">
    <div ng-repeat="activity in activities">
        <div class="page-header">
            <h1 ng-bind="activity.name"></h1>
        </div>

        <div class="col-lg-12 activityContainer">
            <div class="col-lg-6 noPadLeft activityMapContainer">
                <div class="map" id="{{ activity._id }}"></div>
                <small>
                    <em class="text-muted">
                        Posted on
                        <span ng-bind="activity.created | date:'mediumDate'"></span>
                        by
                        <span ng-if="activity.user"
                              ng-bind="activity.user.displayName"></span>
                        <span ng-if="!activity.user">Deleted User</span>
                    </em>
                </small>
            </div>

            <div class="col-lg-6 noPadRight activityInfoContainer">
                <div class="col-lg-12 noPadRight noPadLeft activityTypeContainer">
                    <label for="activityType">Type</label>
                    <h3 class="activityType" id="activityType" ng-bind="activity.type"></h3>
                </div>
                <div class="col-lg-12 noPadLeft noPadRight activityDistCoveredContainer" ng-repeat="dist in distanceCovered" ng-if="dist.id === activity._id">
                    <label for="activityDistCovered">Distance Covered (km)</label>
                    <h3 class="activityDistCovered" id="activityDistCovered" ng-bind="dist.dist"></h3>
                </div>
                <div class="col-lg-12 noPadRight noPadLeft activityDescriptionContainer">
                    <label for="activityDescription">Description</label>
                    <p class="activityDescription" id="activityDescription" ng-bind="activity.description"></p>
                </div>
            </div>
        </div>

        <div class="list-group" ng-show="activity.comments.length > 0">
            <div class="list-group-item" ng-repeat="comment in activity.comments">
                <small>
                    <em class="text-muted">
                        Posted on
                        <span ng-bind="comment.added | date:'mediumDate'"></span>
                        by
                        <span ng-bind="comment.user.displayName"></span>
                    </em>
                </small>
                <h4 class="list-group-item-heading" ng-bind="comment.comment"></h4>
            </div>
        </div>
    </div>
</section>
