<section ng-init="setBodyImage()">
    <div class="page-header">
        <div class="pull-right"
             ng-show="activity.isCurrentUserOwner">
            <a class="btn btn-primary"
               ui-sref="activities.edit({ activityId: activity._id })">
                <i class="glyphicon glyphicon-edit"></i>
            </a>
            <a class="btn btn-primary" ng-click="deleteActivity()">
                <i class="glyphicon glyphicon-trash"></i>
            </a>
            <a class="btn btn-primary" ng-class="{ 'disabled': friends.length === 0 }" ng-click="openModal()">
                <i class="glyphicon glyphicon-share"></i>
            </a>
        </div>
        <h1 ng-bind="activity.name"></h1>
    </div>
    <div class="col-lg-12">
        <div class="col-lg-6 col-md-6 col-sm-12 noPadLeft">
            <div class="map" id="{{ activity._id }}"></div>
            <small>
                <em class="text-muted">
                    Posted on
                    <span ng-bind="activity.created | date:'mediumDate'"></span>
                    by
                    <span ng-if="activity.user"
                          ng-bind="activity.user.displayName"></span>
                    <span ng-if="!activity.user">Deleted User</span>
                </em>
            </small>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 activityDescriptionContainer noPadRight">
            <div class="col-lg-12 noPadRight noPadLeft">
                <label for="activityType">Type</label>
                <h3 class="activityType" id="activityType" ng-bind="activity.type"></h3>
            </div>
            <div class="col-lg-12 noPadLeft noPadRight">
                <label for="activityDistCovered">Distance Covered (km)</label>
                <h3 class="activityDistCovered" id="activityDistCovered" ng-bind="distanceCovered"></h3>
            </div>
            <div class="col-lg-12 noPadRight noPadLeft">
                <label for="activityDescription">Description</label>
                <p class="activityDescription" id="activityDescription" ng-bind="activity.description"></p>
            </div>
        </div>
    </div>

    <form name="form.commentForm" class="form-horizontal col-lg-12 col-md-12 col-sm-12" ng-submit="addComment(form.commentForm.$valid)">
        <fieldset>
            <div show-errors>
                <label class="control-label" for="comment">Add comment:</label>
                <input type="text" name="comment" id="comment" class="form-control" placeholder="Comment" ng-model="comment" required>
                <div ng-messages="form.commentForm.comment.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Comment is required.</p>
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary" style="margin-top: 20px">Add comment</button>
            </div>
        </fieldset>
    </form>

    <div class="col-lg-12 commentsList" ng-if="activity.comments.length > 0">
        <div class="list-group-item" ng-repeat="comment in activity.comments">
            <div class="pull-right" ng-show="activity.isCurrentUserOwner">
                <a class="btn btn-primary" ng-click="deleteComment(comment)">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </div>
            <img class="friend-user-profile-picture" ng-src="{{ comment.user.profileImageURL }}" alt="{{ comment.user.profileImageURL }}">
            <small style="position: absolute">
                <em class="text-muted">
                    Posted on
                    <span ng-bind="comment.added | date:'mediumDate'"></span>
                    by
                    <span ng-bind="comment.user.displayName"></span>
                </em>
            </small>
            <h4 class="list-group-item-heading" ng-bind-html="comment.comment | linky"></h4>
        </div>
    </div>
</section>
