<section>
    <div class="page-header">
        <h1>Add Friend</h1>
    </div>
    <div class="list-group">
        <a ng-repeat="user in vm.users" ng-click="vm.save(user)" class="list-group-item">
            <img class="friend-user-profile-picture" ng-src="{{ user.profileImageURL }}" alt="{{ user.displayName }}">
            <h4 class="list-group-item-heading" ng-bind="user.displayName"></h4>
            <small class="list-group-item-text" ng-bind="user.username"></small>
            <p class="list-group-item-text" ng-bind="user.email"></p>
        </a>
    </div>
</section>
