.content {
  margin-top: 50px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}
.map {
    height: 500px;
}
.map-preview {
    height: 300px;
    width: 300px;
    cursor: pointer;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
}

section .container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    margin-top: 200px;
    box-shadow: 0 10px 6px -6px #777;
}

/* ---------------------------------------------------------------------------------------------------------------------
   ACTIVITIES
   ---------------------------------------------------------------------------------------------------------------------
 */

.activityDescription,
.activityDistCovered,
.activityType {
    font-size: 30px;
    font-style: italic;
    font-weight: 800;
    color: #999999;
    text-align: justify;
}

.activitiesList,
.commentsList {
    margin: 20px 0 20px 0;
}

.activitiesList a {
    text-decoration: none;
}

.activitiesList h3 {
    color: #000;
}

.noPadLeft {
    padding-left: 0 !important;
}

.noPadRight {
    padding-right: 0 !important;
}
